body {
    margin: 0;
    background-color: #101010;
}
.container{
    margin: 50px auto;
    width: 500px;
    background: #1F2937;
    color: #fff;
    padding: 80px 50px;
}
.container h1{
    width: 350px;
    font-size: 40px;
    margin: 0;
}
.light-green{
    color: #4ADF86;
}
.underline{
    border: 1px solid #2F3E53;
    width : 460px;
    margin: 35px 0;
}
.pswd-container{
    display: flex;
}
#pswd-one, #pswd-two{
    background: #273549;
    width: 200px;
    text-align: center;
    padding: 10px 10px;
    margin: 0 20px 0 0;
    border-radius: 6px;
}
.pswd-btn{
    margin-top: 50px;
    border-radius: 6px;
    border: none;
    background: #10B981;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}
.pswd-btn:hover{
    background: #4ADF86;
}
#pswd-length{
    display: block;
    padding: 5px 10px;
    background: #273549;
    color: #FFF;
    border: none;
    border-radius: 6px;
    margin: 20px 0 10px;
}
.container label{
    color: #4ADF86;
    font-size: 16px;
}